section#contact {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}

section#contact .card-contact {
  background-color: var(--bg-primary-400);
  padding: 1rem 2rem 0 2rem;
}

section#contact .card-contact a {
  color: white;
  text-decoration: none;
}

section#contact .card-contact a:hover {
  color: var(--bg-primary-main);
}

section#contact .card-contact a div {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 0.6rem;
}

section#contact .card-contact a div svg {
  font-size: 2rem;
}

section#contact .card-contact div.contact-actions {
  display: flex;
  justify-content: center;
  width: 100%;
}

section#contact .card-contact div.contact-actions button {
  font-weight: 700;
  background-color: #5b5bf1;
  color: #fff;

  border-radius: 25px;
  border: none;

  cursor: pointer;
  padding: 1rem 2rem;

  margin-top: 1.2rem;
}

section#contact .card-contact div.contact-actions button:hover {
  background-color: #7272f3;
}

section#contact .card-contact div.contact-actions button a {
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;

  text-decoration: none;
}

section#contact .card-contact div.contact-actions button svg {
  font-size: 1.4rem;
  margin-left: 4px;
}

@media screen and (max-width: 760px) {
  section#contact .card-contact div.contact-actions button {
    padding: 1rem 2rem;
    margin-top: 3rem;
    width: 95%;
  }

  section#contact .card-contact {
    width: 100%;
    padding: 1rem 1rem 0 1rem;
  }
}
